p{
	font-family:'Roboto',sans-serif;
	font-weight:100;
	font-size:56px;
}

.question{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20%;
	text-align:center;
}

#answer{
	width:80%px;
	height:30px;
	border:1px #d3d3d3 solid;
	color:#666666;
	font-family:'Roboto', sans-serif;
	font-weight:300;
	font-size:16px;
	padding:5px;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
	background: rgba(255, 255, 255, .4);
}

#myButton{
	padding:10px;
	background: rgb(204, 204, 204); /* Fall-back for browsers that don't support rgba */
	background: rgba(204, 204, 204, .4);
	margin:10px;
	border:0px;
	font-family:'Roboto',sans-serif;
	font-size:14px;
}

p{
	line-height:10px;
}